#%RAML 1.0
---
title: Individuals Income Received (MTD)
description: This is a draft spec for the Individuals Income Received API.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/hal

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md
 - title: Changelog
   content: !include docs/changelog.md
 - title: Support
   content: !include docs/support.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml

'/individuals/income-received':
  /{nino}:
    uriParameters:
      nino:
        description: National Insurance number, in the format AA999999A.
        type: string
        example: TC663795B
    /{taxYear}:
      uriParameters:
        taxYear:
          description: 'The tax year the data applies to, for example, 2019-20. The start year and end year must not span two tax years. No gaps are allowed, for example, 2019-21 is not valid.'
          example: "2017-18"
      /sample-endpoint:
        (annotations.group):
          name: Sample Endpoint
          description: This is a sample endpoint
        post: !include sample_post.raml
  /savings:
    (annotations.group):
       name: Savings Income
       description: Resources relating to an individual's savings income
    /{nino}:
      uriParameters:
        nino:
          description: National Insurance number, in the format AA999999A.
          type: string
          example: TC663795B
      /{taxYear}:
        uriParameters:
          taxYear:
            description: 'The tax year the data applies to.<br>The start year and end year must not span two tax years. No gaps are allowed, for example, 2018-20 is not valid.'
            example: "2017-18"
        get: !include savings/retrieve.raml
        delete: !include savings/delete.raml
        put: !include savings/amend.raml
